In [4]:
from datetime import datetime, timedelta
import pandas as pd

# Метод strptime преобразует строку в объект типа dateime
### Для этого задается шаблон. учитывающий все знаки препинания, включая табуляцию и пробелы

In [6]:
date_string = '05.10.2016  23:18'
datetime.strptime( date_string, '%d.%m.%Y %H:%M' )

datetime.datetime(2016, 10, 5, 23, 18)

#### С помощью метода datetime.strptime переведите строку 'May 9 2017 9:00AM' в формат datetime. Выделите и запишите номер часа в этой дате (в виде целого числа). Подсказка: у обозначения месяца May формат %b, у AM - %p

In [9]:
startDate = '2017-01-01'

startDate_datetime = datetime.strptime( startDate, '%Y-%m-%d' )

### При помощи timedelta мы можем прибавить любой промежуток времени указав его аргументом.

In [11]:
date2 = startDate_datetime + timedelta(days=1)

In [12]:
date2

datetime.datetime(2017, 1, 2, 0, 0)

### После всех преобразований возвращаем время обратно в строку

In [14]:
startDate_datetime.strftime( '%Y-%m-%d %H:%M:%S' )

'2017-01-01 00:00:00'

### Перебор дат в цикле
#### Потренируемся на простом примере. Представим, что нам необходимо из огромной таблицы с данными за год выяснить показатели за новогодние праздники с 1 по 7 января, и научимся в этом шаге перебирать необходимые даты.

In [15]:
startDate = '2017-01-01'
endDate = '2017-01-07'

In [16]:
startDate_datetime = datetime.strptime( startDate, '%Y-%m-%d' )
endDate_datetime = datetime.strptime( endDate, '%Y-%m-%d' )

In [17]:
current_day = startDate_datetime

In [18]:
current_day = startDate_datetime
while current_day <= endDate_datetime:
    print( current_day )    
    current_day += timedelta( days = 1 )

2017-01-01 00:00:00
2017-01-02 00:00:00
2017-01-03 00:00:00
2017-01-04 00:00:00
2017-01-05 00:00:00
2017-01-06 00:00:00
2017-01-07 00:00:00

### Вывод на экран дней между датами

In [22]:
current_day = startDate_datetime
while current_day <= endDate_datetime:
    print( current_day.strftime( '%Y-%m-%d' ) )
    current_day += timedelta( days = 1 )

2017-01-01
2017-01-02
2017-01-03
2017-01-04
2017-01-05
2017-01-06
2017-01-07

### Вывод на экран часов между двумя датами

In [20]:
current_day = startDate_datetime
while current_day <= endDate_datetime:
    print( current_day.strftime( '%Y-%m-%d %H:%M:%S' ) )
    current_day += timedelta( hours = 1 )

2017-01-01 00:00:00
2017-01-01 01:00:00
2017-01-01 02:00:00
2017-01-01 03:00:00
2017-01-01 04:00:00
2017-01-01 05:00:00
2017-01-01 06:00:00
2017-01-01 07:00:00
2017-01-01 08:00:00
2017-01-01 09:00:00
2017-01-01 10:00:00
2017-01-01 11:00:00
2017-01-01 12:00:00
2017-01-01 13:00:00
2017-01-01 14:00:00
2017-01-01 15:00:00
2017-01-01 16:00:00
2017-01-01 17:00:00
2017-01-01 18:00:00
2017-01-01 19:00:00
2017-01-01 20:00:00
2017-01-01 21:00:00
2017-01-01 22:00:00
2017-01-01 23:00:00
2017-01-02 00:00:00
2017-01-02 01:00:00
2017-01-02 02:00:00
2017-01-02 03:00:00
2017-01-02 04:00:00
2017-01-02 05:00:00
2017-01-02 06:00:00
2017-01-02 07:00:00
2017-01-02 08:00:00
2017-01-02 09:00:00
2017-01-02 10:00:00
2017-01-02 11:00:00
2017-01-02 12:00:00
2017-01-02 13:00:00
2017-01-02 14:00:00
2017-01-02 15:00:00
2017-01-02 16:00:00
2017-01-02 17:00:00
2017-01-02 18:00:00
2017-01-02 19:00:00
2017-01-02 20:00:00
2017-01-02 21:00:00
2017-01-02 22:00:00
2017-01-02 23:00:00
2017-01-03 00:00:00
2017-01-03 01:00:00
2017-01-03 02:00:00
2017-01-03 03:00:00
2017-01-03 04:00:00
2017-01-03 05:00:00
2017-01-03 06:00:00
2017-01-03 07:00:00
2017-01-03 08:00:00
2017-01-03 09:00:00
2017-01-03 10:00:00
2017-01-03 11:00:00
2017-01-03 12:00:00
2017-01-03 13:00:00
2017-01-03 14:00:00
2017-01-03 15:00:00
2017-01-03 16:00:00
2017-01-03 17:00:00
2017-01-03 18:00:00
2017-01-03 19:00:00
2017-01-03 20:00:00
2017-01-03 21:00:00
2017-01-03 22:00:00
2017-01-03 23:00:00
2017-01-04 00:00:00
2017-01-04 01:00:00
2017-01-04 02:00:00
2017-01-04 03:00:00
2017-01-04 04:00:00
2017-01-04 05:00:00
2017-01-04 06:00:00
2017-01-04 07:00:00
2017-01-04 08:00:00
2017-01-04 09:00:00
2017-01-04 10:00:00
2017-01-04 11:00:00
2017-01-04 12:00:00
2017-01-04 13:00:00
2017-01-04 14:00:00
2017-01-04 15:00:00
2017-01-04 16:00:00
2017-01-04 17:00:00
2017-01-04 18:00:00
2017-01-04 19:00:00
2017-01-04 20:00:00
2017-01-04 21:00:00
2017-01-04 22:00:00
2017-01-04 23:00:00
2017-01-05 00:00:00
2017-01-05 01:00:00
2017-01-05 02:00:00
2017-01-05 03:00:00
2017-01-05 04:00:00
2017-01-05 05:00:00
2017-01-05 06:00:00
2017-01-05 07:00:00
2017-01-05 08:00:00
2017-01-05 09:00:00
2017-01-05 10:00:00
2017-01-05 11:00:00
2017-01-05 12:00:00
2017-01-05 13:00:00
2017-01-05 14:00:00
2017-01-05 15:00:00
2017-01-05 16:00:00
2017-01-05 17:00:00
2017-01-05 18:00:00
2017-01-05 19:00:00
2017-01-05 20:00:00
2017-01-05 21:00:00
2017-01-05 22:00:00
2017-01-05 23:00:00
2017-01-06 00:00:00
2017-01-06 01:00:00
2017-01-06 02:00:00
2017-01-06 03:00:00
2017-01-06 04:00:00
2017-01-06 05:00:00
2017-01-06 06:00:00
2017-01-06 07:00:00
2017-01-06 08:00:00
2017-01-06 09:00:00
2017-01-06 10:00:00
2017-01-06 11:00:00
2017-01-06 12:00:00
2017-01-06 13:00:00
2017-01-06 14:00:00
2017-01-06 15:00:00
2017-01-06 16:00:00
2017-01-06 17:00:00
2017-01-06 18:00:00
2017-01-06 19:00:00
2017-01-06 20:00:00
2017-01-06 21:00:00
2017-01-06 22:00:00
2017-01-06 23:00:00
2017-01-07 00:00:00

### Фукнция для перечня дат между двумя точками

In [21]:
def date_range(start_date, end_date):
    """
    Возвращает список дат между start_date и end_date с шагом в день.
    Если start_date > end_date, то возвращает пустой список. 
    Пример
    date_range('2018-01-01', '2018-01-07')
    [
        '2018-01-01',
        '2018-01-02',
        '2018-01-03',
        '2018-01-04',
        '2018-01-05',
        '2018-01-06',
        '2018-01-07'
    ]
    """ 
    date_range_list = []
    current_date = start_date  
    current_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
    end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')   
    while current_date_dt <= end_date_dt:
        date_range_list.append(current_date)        
        current_date_dt += timedelta(days=1)
        current_date = current_date_dt.strftime('%Y-%m-%d')    
    return date_range_list

In [26]:
life_time = pd.read_csv('data.tsv', sep='\t')

In [27]:
life_time.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8

### Переведем столбец date в тип datetime с помощью функции:

In [29]:
def convert_to_datetime(row):
    return datetime.strptime(row['date'], '%d.%m.%Y %H:%M')

In [31]:
life_time['datetime'] = life_time.apply(convert_to_datetime, axis=1)
life_time.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00

### Для подсчета разницы в датах есть много методов. Одним из самых простых является перевод времени в формат unixtime. Он означает количество секунд, прошедшее с 1 января 1970 года. Этот формат очень популярен и используется во многих системах.

In [32]:
import time
def make_unix_time(row):
    return time.mktime(row['datetime'].timetuple())

In [34]:
life_time['unixtime'] = life_time.apply(make_unix_time, axis=1)
life_time.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime,unixtime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00,1.475699e+09
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00,1.476038e+09
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00,1.475627e+09
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00,1.475699e+09
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00,1.475287e+09

# Выполнение ДЗ при помощи говнокода

In [80]:
"""
ДОМАШНЕЕ ЗАДАНИЕ
Для завершения подсчета lifetime вам необходимо сделать следующее:

1. Сгруппировать датафрейм data по столбцу user_id, посчитав для столбца unixtime максимальное и минимальное значение для каждого пользователя.

2. Посчитать столбец diff с разностью максимального и минимального значения столбца unixtime из пункта 1.

3. Исключить из расчета пользователей, у которых разница diff равна 0.

4. Посчитать среднее значение столбца diff после фильтрации.

5. Вы получите ответ в секундах. Пересчитайте его в количество дней.

"""

'\nДОМАШНЕЕ ЗАДАНИЕ\nДля завершения подсчета lifetime вам необходимо сделать следующее:\n\n1. Сгруппировать датафрейм data по столбцу user_id, посчитав для столбца unixtime максимальное и минимальное значение для каждого пользователя.\n\n2. Посчитать столбец diff с разностью максимального и минимального значения столбца unixtime из пункта 1.\n\n3. Исключить из расчета пользователей, у которых разница diff равна 0.\n\n4. Посчитать среднее значение столбца diff после фильтрации.\n\n5. Вы получите ответ в секундах. Пересчитайте его в количество дней.\n\n'

In [63]:
data_1 = life_time.groupby('user_id').max()

In [64]:
data_2 = life_time.groupby('user_id').min()

In [65]:
data_1.head()

,id,date,duration,medium,source,cost,order_id,amount_paid,datetime,unixtime
user_id,,,,,,,,,,
1010,40443,05.10.2016 23:18,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00,1.475699e+09
1036,35044,09.10.2016 21:40,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00,1.476038e+09
1041,40177,05.10.2016 3:23,0.003380,sem,yandex,0.03,6697,13.2,2016-10-05 23:19:00,1.475699e+09
1042,42099,08.10.2016 16:46,0.006493,seo,yandex,0.88,4510,24.4,2016-10-08 16:46:00,1.475934e+09
1047,40842,05.10.2016 21:41,0.001921,seo,yandex,1.86,4182,16.2,2016-10-05 21:41:00,1.475693e+09

In [66]:
data_2.head()

,id,date,duration,medium,source,cost,order_id,amount_paid,datetime,unixtime
user_id,,,,,,,,,,
1010,40443,05.10.2016 23:18,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00,1.475699e+09
1036,35044,09.10.2016 21:40,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00,1.476038e+09
1041,39401,05.10.2016 23:19,0.000463,email,promo,0.00,6128,9.8,2016-10-05 03:23:00,1.475627e+09
1042,35921,01.10.2016 23:29,0.000463,brand,burgerclub,0.00,2582,8.6,2016-10-01 04:57:00,1.475287e+09
1047,35331,01.10.2016 13:39,0.001644,cpa-partners,food-delivery,0.00,3802,12.4,2016-10-01 13:39:00,1.475318e+09

In [72]:
data_1['diff']= data_1['unixtime'] - data_2['unixtime']

In [73]:
data_1.head()

,id,date,duration,medium,source,cost,order_id,amount_paid,datetime,unixtime,diff
user_id,,,,,,,,,,,
1010,40443,05.10.2016 23:18,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00,1.475699e+09,0.0
1036,35044,09.10.2016 21:40,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00,1.476038e+09,0.0
1041,40177,05.10.2016 3:23,0.003380,sem,yandex,0.03,6697,13.2,2016-10-05 23:19:00,1.475699e+09,71760.0
1042,42099,08.10.2016 16:46,0.006493,seo,yandex,0.88,4510,24.4,2016-10-08 16:46:00,1.475934e+09,647340.0
1047,40842,05.10.2016 21:41,0.001921,seo,yandex,1.86,4182,16.2,2016-10-05 21:41:00,1.475693e+09,374520.0

In [74]:
data_res = data_1[data_1['diff']> 0.0]

In [82]:
data_res['diff'].mean()/(60*60*24)

3.485453869047619